extends ../node_modules/jade-bootstrap/layouts/navbar-fixed

block body
	link(href="css/main.css" rel="stylesheet" type="text/css")

	// Fixed navbar
	+navbar-fixed("Colenso Database","navbar")
		+nav_item("/","active") Home
		+nav_item("/search") Search
		+nav_item("/add") Add Document
	

	.container
		// Main component for a primary marketing message or call to action
		.jumbotron
			h2 Colenso Project
			p
				| Welcome to the Colenso Project database. With the below tools you can easily search, edit and add documents to the database.
			p Select one of the options below to get started
			p
				a.btn.btn-lg.btn-primary(href='/search', role='button') Document Search »
				a.btn.btn-lg.btn-primary(href='/add', role='button') Add Document »
				a.btn.btn-lg.btn-primary(href='#', role='button') NO ROUTE »

	.container
		+carousel("Carousel ID",[
		{image:"images/carousel1.jpg",p:"Carousel Caption #1"},
		{image:"images/carousel2.jpg",p:"Carousel Caption #2"},
		{image:"images/carousel3.jpg",p:"Carousel Caption #3"},
		{image:"images/carousel1.jpg",p:"Carousel Caption #4"}
		])