extends ../node_modules/jade-bootstrap/layouts/navbar-fixed

block body

	link(href="css/main.css" rel="stylesheet" type="text/css")

	// Fixed navbar
	+navbar-fixed("Colenso Database","navbar")
		+nav_item("/") Home
		+nav_item("/search","active") Search
		+nav_item("/add") Add Document
		+nav_item_dropdown("#")(label="Dropdown")
			+nav_item("#") Action
			+nav_item("#") Another action
			+nav_item("#") Something else here
			+nav_divider
			+nav_item("#") Separated link
			+nav_item("#") One more separated link
	

	.container
		// Main component for a primary marketing message or call to action
		.jumbotron
			form(class="form-inline", role="form", )
				.form-group
					//SEARCH BUTTON
					+icon-btn("search")

					//SEARCH TEXT FIELD
					+input("Field1","Field2","Search"," ")
				.form-group
					//OPTION DROPDOWN
					+dropdown("Search Option",[
					{text:"Option1", url:"#"},
					{text:"Option2", url:"#"},
					{text:"Option3", url:"#"},
					])